.profile__info {
    max-width: 336px;
    margin: 18px 0 0 30px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
}

@media (max-width: 399px) {
    .profile__info {
        margin-left: 0;
        padding: 0 20px 0;
    }
}