.popup__input-save {
    border: 0;
    padding: 0;
    border-radius: 2px;
    width: 100%;
    background: black;
    height: 50px;
    color: white;
}

.popup__input-save:hover {
    opacity: 0.8;
    cursor: pointer;
}