@import url(./__add-Button/profile__add-Button.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__edit-Button/profile__edit-Button.css);
@import url(./__full-name/profile__full-name.css);
@import url(./__info/profile__info.css);
@import url(./__jobs/profile__jobs.css);

.profile {
    max-width: 882px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: row;
}


@media (max-width: 710px) {
    .profile{
        flex-direction: column;
        align-items: center;
    }
}