.popup__heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 330px;
    margin: 34px 64px 0 36px;
}

@media (max-width: 330px) {
    .popup__heading {
        font-size: 17px;
    }
}