.profile__add-Button {
    width: 150px;
    height: 50px;
    background-color: unset;
    border-radius: 2px;
    border: 2px solid #fff;
    margin: 35px 0 0 auto;
    background-image: url(../../../sprint-4-image/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.profile__add-Button:hover {
    opacity: 0.6;
    cursor: pointer;
}


@media (max-width: 710px) {
    .profile__add-Button {
        width: 282px;
        margin: 35px auto 0;
    }
}