@import url(./__group/element__group.css);
@import url(./__heart/element__heart.css);
@import url(./__image/element__image.css);
@import url(./__place/element__place.css);
@import url(./__delete/element__delete.css);
@import url(./__functionality/element__functionality.css);
@import url(./__heart-score/element__heart-score.css);

.element {
    width: 282px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    height: 367px;
}