.popup__close {
    border: none;
    background-image: url(../../../sprint-4-image/Close\ Icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -35px;
    right: -35px;
    width: 35px;
    height: 35px;
    background-color: unset;
    padding: 0;
}

.popup__close:hover {
    cursor: pointer;
    opacity: 0.6;
}
