.element__delete {
    position: absolute;
    top: 18px;
    right: 15px;
    background-image: url(../../../sprint-4-image/korzina.svg);
    width: 18px;
    height: 19.3px;
    background-color: unset;
    border: 0;
    padding: 0;
    z-index: 1;
    display: none;
}

.element__delete:hover {
    opacity: 0.6;
    cursor: pointer;
}